importFrom("grDevices", "rgb")
importFrom("zip", "zipr")
importFrom("graphics", "legend")
importFrom("stats", "as.dendrogram", "dist", "hclust", "heatmap",
             "order.dendrogram", "pchisq", "reorder", "p.adjust")
importFrom("utils", "read.table")
importFrom("grDevices", "pdf")
importFrom("stats", "mad", "median", "pnorm", "qnorm", "sd", "shapiro.test")
export(read.coverages)
export(calculate.CN)
export(assess.CNA)
export(call.CNA)
export(heatmap.CNA)
export(summarize.CNA)
export(runIoncopy)

